<template>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Chinh</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Forms</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Default form</h4>
              <p class="card-description">Basic form layout</p>
              <form class="forms-sample">
                <VueNestable
                    @change="onDropItem"
                    v-model="nestableItems1"
                    cross-list
                    group="cross"
                >
                    <VueNestableHandle slot-scope="{ item }" :item="item">
                      {{ item.title }}
                      <div class="f-right mg-right-5">
                        <i class="icon-pencil" @click="ChangeEdit(item)" style="cursor: pointer;"/>
                        <i class="icon-close" style="cursor: pointer;" @click="ChangeDelete(item)"/>
                      </div>
                    </VueNestableHandle>
                </VueNestable><br>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Horizontal Form</h4>
              <p class="card-description">Horizontal form layout</p>
              <form class="forms-sample">
                <div class="form-group row">
                  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputUsername2"
                      placeholder="Username"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail2"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputMobile"
                      placeholder="Mobile number"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                  <div class="col-sm-9">
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword2"
                      placeholder="Password"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    for="exampleInputConfirmPassword2"
                    class="col-sm-3 col-form-label"
                  >Re Password</label>
                  <div class="col-sm-9">
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputConfirmPassword2"
                      placeholder="Password"
                    />
                  </div>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" /> Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
          Copyright © 2017
          <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
          Hand-crafted & made with
          <i class="mdi mdi-heart text-danger"></i>
        </span>
      </div>
    </footer>
    <!-- partial -->
  </div>
</template>

<script>
import { VueNestable, VueNestableHandle } from "vue-nestable";
import Swal from 'sweetalert2';
import { mapState } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      nestableItems: [
        {
          id: 1,
          text: "Andy"
        },
        {
          id: 2,
          text: "Harry",
          children: [
            {
              id: 3,
              text: "David"
            }
          ]
        },
        {
          id: 4,
          text: "Lisa"
        }
      ],
      nestableItems1: [],
      listMenu: [],
      menuData: {
        title: "",
        link: "",
        parent_id: "",
        status: true
      },
      dataMenuById:{
        created_at:'',
        group_id:'',
        id:'',
        item_id:'',
        link:'',
        parent_id:'',
        position:'',
        status:'',
        title:'',
        type:'',
        updated_at:''
      }
    };
  },
  components: {
    VueNestable,
    VueNestableHandle
  },
  computed: {
    ...mapState(["menu", "allMenu","editMenu"])
  },
  watch: {
    menu(val) {
      this.nestableItems1 = val.data;
    },
    allMenu(val) {
      this.listMenu = val.data;
    },
    editMenu(val){
      this.dataMenuById = val.data;
    }
  },
  methods: {
    saveEditMenyById(){
      this.$store.dispatch("loadings", true);
      this.$store.dispatch('saveEditMenuById',{
        id:this.dataMenuById.id,
        title:this.dataMenuById.title,
        link:this.dataMenuById.link,
        status:this.dataMenuById.status
      }).then(response => {
        this.$store.dispatch("loadings", false);
        this.$store.dispatch("gitListMenu");
        this.$message("Thêm mới thành công", "success");
      }).catch(error => {
        this.$store.dispatch("loadings", false);
        let field_err = Object.keys(err.response.data.errors)[0];
        this.$message(Object.values(err.response.data.errors)[0][0], "error");
      })
    },
    ChangeDelete(item){
      let id = item.id;
      Swal.fire({
        title: 'Are you sure?',
        text: "Tất cả các danh mục con của danh mục này đều bị xóa",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          Swal.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
          this.$store.dispatch("loadings", true);
          this.$store.dispatch('deleteMenuById',id)
          .then(response => {
            this.$store.dispatch("loadings", false);
            this.$store.dispatch("gitListMenu");
            this.$message("Xóa thành công", "success");
          }).catch(error => {
            this.$store.dispatch("loadings", false);
            this.$message("Không thành công", "error");
          });
        }
      })
      
    },
    ChangeEdit(item){
      let id = item.id;
      this.$store.dispatch('getEditMenuById',id);
    },
    showPopup() {
      this.$modal.show("openPopupAddNewMenu");
    },
    hidePopup() {
      this.$modal.hide("openPopupAddNewMenu");
    },
    onDropItem(value, options) {
      console.log(value, options);
    },
    saveNewMenu() {
      this.$store.dispatch("loadings", true);
      this.$store
        .dispatch("saveAddNewMenu", {
          title: this.menuData.title,
          link: this.menuData.link,
          parent_id: this.menuData.parent_id,
          status: this.menuData.status
        })
        .then(response => {
          this.$store.dispatch("loadings", false);
          this.$store.dispatch("gitListMenu");
          this.$message("Thêm mới thành công", "success");
          this.hidePopup();
        })
        .catch(err => {
          this.$store.dispatch("loadings", false);
          let field_err = Object.keys(err.response.data.errors)[0];
          this.$message(Object.values(err.response.data.errors)[0][0], "error");
        });
    },
    convertTreeToArray(treeStructure) {
      let flatten = (children, extractChildren, level, parent) =>
        Array.prototype.concat.apply(
          children.map(x => ({
            ...x,
            level: level || 1,
            parent_id: parent || 0
          })),
          children.map(x =>
            flatten(
              extractChildren(x) || [],
              extractChildren,
              (level || 1) + 1,
              x.id
            )
          )
        );

      let extractChildren = x => (x.children != null ? x.children : []);

      let flat = flatten(extractChildren(treeStructure), extractChildren).map(
        x => delete x.children && x
      );
      return flat;
    },
    saveChangeMenu() {
      this.$store.dispatch("loadings", true);
      let arr = this.convertTreeToArray({ children: this.nestableItems1 });
      this.$store
        .dispatch("saveChangeMenu", {
          menu: arr
        })
        .then(response => {
          this.$store.dispatch("loadings", false);
          this.$message("Thay đổi thành công", "success");
        })
        .catch(error => {
          this.$store.dispatch("loadings", false);
          this.$message("Thay đổi thất bại", "error");
        });
    }
  },
  created() {
    this.$store.dispatch("gitListMenu");
    this.$store.dispatch("getAllMenu");
  }
};
</script>
<style type="text/css">
.nestable {
  position: relative;
}
.nestable .nestable-list {
  margin: 0;
  padding: 0 0 0 40px;
  list-style-type: none;
}
.nestable > .nestable-list {
  padding: 0;
}
.nestable-item,
.nestable-item-copy {
  margin: 10px 0 0;
}
.nestable-item:first-child,
.nestable-item-copy:first-child {
  margin-top: 0;
}
.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
  margin-top: 10px;
}
.nestable-item {
  position: relative;
}
.nestable-item.is-dragging .nestable-list {
  pointer-events: none;
}
.nestable-item.is-dragging * {
  opacity: 0;
  filter: alpha(opacity=0);
}
.nestable-item.is-dragging:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(106, 127, 233, 0.274);
  border: 1px dashed rgb(73, 100, 241);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nestable-drag-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
.nestable-drag-layer > .nestable-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  background-color: rgba(106, 127, 233, 0.274);
}
.nestable [draggable="true"] {
  cursor: move;
  border: 1px solid #019ccc;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 27px;
  border-radius: 11px;
  background: #06a3cf;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
</style>