<template>
  <div id="wrapper">
    <!-- ===== Top-Navigation ===== -->
    <nav-bar></nav-bar>
    <!-- ===== Top-Navigation-End ===== -->
    <!-- ===== Left-Sidebar ===== -->
    <side-bar></side-bar>
    <!-- ===== Left-Sidebar-End ===== -->
    <!-- Page Content -->
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">Trang nội dung</div>
              <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                  <form>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-body">
                          <h3 class="box-title">Thêm trang nội dung mới</h3>
                          <hr />
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="control-label">Tiêu đề</label>
                                <input
                                  type="text"
                                  id="firstName"
                                  class="form-control"
                                  placeholder="Title"
                                  v-model="objData.title"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="control-label">Nội dung</label>
                                <quill-editor v-model="objData.content" ref="myQuillEditor"></quill-editor>
                              </div>
                            </div>
                            <!--/span-->
                          </div>
                          <hr />
                        </div>
                        <div class="form-body">
                          <h3 class="box-title">Tùy chỉnh SEO</h3>
                          <hr />
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="control-label">Tiêu đề trang</label>
                                <input
                                  type="text"
                                  id="firstName"
                                  class="form-control"
                                  placeholder="Rounded Chair"
                                  v-model="objData.title_seo"
                                />
                              </div>
                            </div>
                            <!--/span-->
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="control-label">Thẻ mô tả</label>
                                <input
                                  type="text"
                                  id="firstName"
                                  class="form-control"
                                  placeholder="Rounded Chair"
                                  v-model="objData.description"
                                />
                              </div>
                            </div>
                            <!--/span-->
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="control-label">Link</label>
                                <textarea
                                  type="text"
                                  id="firstName"
                                  class="form-control"
                                  placeholder="Rounded Chair"
                                  v-model="objData.link"
                                ></textarea>
                              </div>
                            </div>
                            <!--/span-->
                          </div>
                          <hr />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-body">
                          <h3 class="box-title">Trạng thái</h3>
                          <hr />
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <div class="radio-list">
                                  <label class="radio-inline p-0">
                                    <div class="radio radio-info">
                                      <input type="radio" name="radio" id="radio1" value="1" v-model="objData.status" />
                                      <label for="radio1">Hiện</label>
                                    </div>
                                  </label>
                                  <label class="radio-inline">
                                    <div class="radio radio-info">
                                      <input type="radio" name="radio" id="radio2" value="0" v-model="objData.status"/>
                                      <label for="radio2">Ẩn</label>
                                    </div>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <!--/span-->
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>
                    <div class="form-actions m-t-40">
                      <a href="javascript:; " class="btn btn-success" @click="saveAddPageContent">
                        <i class="fa fa-check"></i> Save
                      </a>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->
    <!-- ===== Page-Content-End ===== -->
  </div>
</template>
<script>
import Nav from "../../components/layouts/navbar.vue";
import SiderBar from "../../components/layouts/sidebar.vue";
import { mapState } from "vuex";
import { quillEditor } from 'vue-quill-editor'
export default {
  name: "AddPageContent",
  data() {
    return {
      objData:{
        content:'',
        title:'',
        status:'',
        link:'',
        title_seo:'',
        description:''
      }
    };
  },
  components: {
    "nav-bar": Nav,
    "side-bar": SiderBar,
    quillEditor
  },
  methods:{
    saveAddPageContent(){
      this.$store.dispatch("loadings", true);
      this.$store.dispatch("saveAddPageContent",{
        title:this.objData.title,
        content:this.objData.content,
        status:this.objData.status,
        link:this.objData.link,
        title_seo:this.objData.title_seo,
        description:this.objData.description
      }).then(response => {
        this.$store.dispatch("loadings", false);
        this.$message("Thêm mới thành công", "success");
      }).catch(err => {
        this.$store.dispatch("loadings", false);
        let field_err = Object.keys(err.response.data.errors)[0];
        this.$message(Object.values(err.response.data.errors)[0][0], "error");
      })
    }
  }
};
</script>
 