<template>
  <div id="wrapper">
    <!-- ===== Top-Navigation ===== -->
    <nav-bar></nav-bar>
    <!-- ===== Top-Navigation-End ===== -->
    <!-- ===== Left-Sidebar ===== -->
    <side-bar></side-bar>
    <!-- ===== Left-Sidebar-End ===== -->
    <!-- Page Content -->
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="white-box">
              <h3 class="box-title">Table Hover</h3>
              <p class="text-muted">
                Add class
                <code>.table-hover</code>
              </p>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Products</th>
                      <th>Popularity</th>
                      <th>Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Milk Powder</td>
                      <td>
                        <span
                          class="peity-line"
                          data-width="120"
                          data-peity="{ "fill": ["#13dafe"], "stroke":["#13dafe"]}"
                          data-height="40"
                        >0,-3,-2,-4,-5,-4,-3,-2,-5,-1</span>
                      </td>
                      <td>
                        <span class="text-danger text-semibold">
                          <i class="fa fa-level-down" aria-hidden="true"></i> 28.76%
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Air Conditioner</td>
                      <td>
                        <span
                          class="peity-line"
                          data-width="120"
                          data-peity="{ "fill": ["#13dafe"], "stroke":["#13dafe"]}"
                          data-height="40"
                        >0,-1,-1,-2,-3,-1,-2,-3,-1,-2</span>
                      </td>
                      <td>
                        <span class="text-warning text-semibold">
                          <i class="fa fa-level-down" aria-hidden="true"></i> 8.55%
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>RC Cars</td>
                      <td>
                        <span
                          class="peity-line"
                          data-width="120"
                          data-peity="{ "fill": ["#13dafe"], "stroke":["#13dafe"]}"
                          data-height="40"
                        >0,3,6,1,2,4,6,3,2,1</span>
                      </td>
                      <td>
                        <span class="text-success text-semibold">
                          <i class="fa fa-level-up" aria-hidden="true"></i> 58.56%
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Down Coat</td>
                      <td>
                        <span
                          class="peity-line"
                          data-width="120"
                          data-peity="{ "fill": ["#13dafe"], "stroke":["#13dafe"]}"
                          data-height="40"
                        >0,3,6,4,5,4,7,3,4,2</span>
                      </td>
                      <td>
                        <span class="text-info text-semibold">
                          <i class="fa fa-level-up" aria-hidden="true"></i> 35.76%
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->
    <!-- ===== Page-Content-End ===== -->
  </div>
</template>
<script>
import Nav from "../../components/layouts/navbar.vue";
import SiderBar from "../../components/layouts/sidebar.vue";
import { mapState } from "vuex";
import { quillEditor } from "vue-quill-editor";
export default {
  name: "AddPageContent",
  data() {
    return {
      objData: {
        content: "",
        title: "",
        status: "",
        link: "",
        title_seo: "",
        description: ""
      }
    };
  },
  components: {
    "nav-bar": Nav,
    "side-bar": SiderBar,
    quillEditor
  },
  methods: {
    saveAddPageContent() {
      this.$store.dispatch("loadings", true);
      this.$store
        .dispatch("saveAddPageContent", {
          title: this.objData.title,
          content: this.objData.content,
          status: this.objData.status,
          link: this.objData.link,
          title_seo: this.objData.title_seo,
          description: this.objData.description
        })
        .then(response => {
          this.$store.dispatch("loadings", false);
          this.$message("Thêm mới thành công", "success");
        })
        .catch(err => {
          this.$store.dispatch("loadings", false);
          let field_err = Object.keys(err.response.data.errors)[0];
          this.$message(Object.values(err.response.data.errors)[0][0], "error");
        });
    }
  }
};
</script>
 