<template>
  <div class="card-body">
    <form class="forms-sample" enctype="multipart/form-data">
      <div class="form-group">
        <vs-input
          class="w-100"
          v-model="objData.name"
          :class="{ 'is-invalid': submitted && $v.objData.name.$error }"
          font-size="40px"
          label-placeholder="Tên danh mục"
        />
        <div v-if="submitted && !$v.objData.name.required" class="noti-err">Tên không để trống</div>
      </div>
      <div class="form-group">
        <vs-input
          class="w-100"
          v-model="objData.path"
          font-size="40px"
          label-placeholder="Link"
          :class="{'is-invalid': submitted && $v.objData.path.$error}"
        />
        <div v-if="submitted && !$v.objData.path.required" class="noti-err">Link không để trống</div>
      </div>
      <div class="form-group">
        <label for="exampleSelectGender">Avatar</label>
        <image-upload v-model="img" type="avatar"></image-upload>
      </div>
      <div class="form-group">
        <label for="exampleInputName1">Trạng thái</label>
        <vs-switch v-model="objData.status">
          <span slot="on">Hiện</span>
          <span slot="off">Ẩn</span>
        </vs-switch>
      </div>
      <div class="form-group">
        <vs-button
          color="success"
          type="gradient"
          class="mr-left-45"
          @click="handleSubmit()"
        >Lưu lại</vs-button>
      </div>
    </form>
  </div>
</template>

<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      objData: {
        name: "",
        path: "",
        avatar: "",
        status: ""
      },
      img:'',
      submitted: false
    };
  },
  validations: {
    objData: {
      name: { required },
      path: { required }
    }
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.$store
          .dispatch("category/saveCate", this.objData)
          .then(response => {
            this.$vs.notify({
              title: "Thêm mới danh mục",
              text: "Thành công",
              color: "success",
              position: "top-right"
            });
            this.$emit("closePopup", false);
          })
          .catch(error => {
            this.$vs.notify({
              title: "Thêm mới danh mục",
              text: "Thất bại",
              color: "error",
              position: "top-right"
            });
          });
      }
    },
    nameImage(event) {
      this.objData.avatar = event;
    }
  }
};
</script>