<template>
  <div class="container-scroller">
    <Spiner></Spiner>
    <div v-if="!loggedIn">
      <Login />
    </div>
    <div v-else>
      <!-- partial:partials/_navbar.html -->
      <Navbar />
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <SideBar />
        <!-- partial -->
        <router-view></router-view>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </div>
</template>

<style>
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
} */
</style>

<script>
import { mapState, mapActions } from "vuex";
import Login from "./login.vue";
import SideBar from "./layouts/sidebar";
import Spiner from "../components/layouts/cube.vue";
import Navbar from "../components/layouts/navbar.vue";
export default {
  computed: {
    ...mapState(["loading"]),
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  components: {
    Spiner,
    Login,
    SideBar,
    Navbar
  },
  mounted() {}
};
</script>