<template>
     <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../assets/images/logo.svg">
                </div>
                <h4>Hello! let's get started</h4>
                <h6 class="font-weight-light">Sign in to continue.</h6>
                <form class="pt-3">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" v-model="name" id="exampleInputEmail1" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" v-model="password" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="mt-3">
                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" @click="login" href="javascript:;">SIGN IN</a>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                  </div>
                  <div class="mb-2">
                    <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                      <i class="mdi mdi-facebook mr-2"></i>Connect using facebook </button>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="register.html" class="text-primary">Create</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
</template>

<script>
    import axios from 'axios'
    export default{
        data(){
            return {
                name:'',
                password:''
            };
        },
        methods:{
            login(){
                this.$store.dispatch("loadings",true);
                this.$store.dispatch('login',{
                    name:this.name,
                    password:this.password
                })
                .then((response)=>{
                    this.$store.dispatch("loadings",false);
                    this.$router.push({name:'home'});
                }).catch((err) => {
                    this.$store.dispatch("loadings",false);
                    if (typeof err.response.data.errors !== "undefined" )
                    {
                        let field_err = Object.keys(err.response.data.errors)[0];
                        this.$message(Object.values(err.response.data.errors)[0][0], 'error');
                        
                    }else{
                        this.$message(err.response.data.message, 'error');
                    }
                    
                })
            },

        }
    };
</script>