<template>
  <div id="wrapper">
    <div class="page-wrapper">
      <!-- ===== Page-Container ===== -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="white-box">
              <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-12">
                  <h3 class="box-title m-b-0">Quản lý vị trí danh mục</h3>
                  <p class="text-muted m-b-30 font-13">Kéo vả thả danh mục đến vị trí mong muốn</p>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-12">
                  <button
                    class="btn btn-block btn-outline btn-rounded btn-primary"
                    style="margin-top: 22px;"
                    @click="showPopup"
                  >Thêm mới</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <VueNestable
                    @change="onDropItem"
                    v-model="nestableItems1"
                    cross-list
                    group="cross"
                  >
                    <VueNestableHandle slot-scope="{ item }" :item="item">
                      {{ item.title }}
                      <div class="f-right mg-right-5">
                        <i class="icon-pencil" @click="ChangeEdit(item)" style="cursor: pointer;"/>
                        <i class="icon-close" style="cursor: pointer;" @click="ChangeDelete(item)"/>
                      </div>
                    </VueNestableHandle>
                  </VueNestable>
                  <button
                    class="btn btn-success f-left"
                    style="margin-top:5px"
                    @click="saveChangeMenu"
                  >Save</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="white-box">
              <h3 class="box-title m-b-0">Thông tin danh mục</h3>
              <p class="text-muted m-b-30 font-13">Chỉnh sửa thông tin danh mục</p>
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputuname">Title</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputuname"
                          placeholder="Enter title"
                          :disabled="dataMenuById.title == ''"
                          v-model="dataMenuById.title"
                        />
                        <div class="input-group-addon">
                          <i class="ti-user"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Link</label>
                      <div class="input-group">
                        <input
                          class="form-control"
                          id="exampleInputEmail1"
                          placeholder="Enter link"
                          :disabled="dataMenuById.link == ''"
                          v-model="dataMenuById.link"
                        />
                        <div class="input-group-addon">
                          <i class="icon-link"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="checkbox2">Trạng thái</label>
                      <toggle-button v-model.number="dataMenuById.status" color="#33cc71" :sync="true" :labels="true" />
                    </div>
                    <div class="text-right">
                      <button
                        type="submit"
                        class="btn btn-success waves-effect waves-light m-r-10"
                        @click="saveEditMenyById"
                      >Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== Page-Container-End ===== -->
      <modal name="openPopupAddNewMenu" :height="450">
        <div class="white-box">
          <h3 class="box-title m-b-0">Thêm mới danh mục</h3>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <form>
                <div class="form-group">
                  <label for="exampleInputuname">Tên danh mục mới</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputuname"
                      placeholder="Enter title"
                      v-model="menuData.title"
                    />
                    <div class="input-group-addon">
                      <i class="ti-user"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Link</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="exampleInputEmail1"
                      placeholder="Enter link"
                      v-model="menuData.link"
                    />
                    <div class="input-group-addon">
                      <i class="icon-link"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Category</label>
                  <select
                    class="form-control"
                    data-placeholder="Choose a Category"
                    tabindex="1"
                    v-model="menuData.parent_id"
                  >
                    <option value="0">--Change--</option>
                    <option v-for="item in listMenu" :value="item.id">{{item.title}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="checkbox2">Trạng thái</label>
                  <toggle-button
                    :value="menuData.status"
                    color="#33cc71"
                    :sync="true"
                    :labels="true"
                    v-model="menuData.status"
                  />
                </div>
                <div class="text-right">
                  <button
                    type="submit"
                    class="btn btn-success waves-effect waves-light m-r-10"
                    @click="saveNewMenu"
                  >Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </modal>
    </div>
    <!-- ===== Page-Content-End ===== -->
  </div>
</template>


<script>
import Nav from "../components/layouts/navbar";

import SiderBar from "../components/layouts/sidebar";
import { VueNestable, VueNestableHandle } from "vue-nestable";
import Swal from 'sweetalert2';
import { mapState } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      nestableItems: [
        {
          id: 1,
          text: "Andy"
        },
        {
          id: 2,
          text: "Harry",
          children: [
            {
              id: 3,
              text: "David"
            }
          ]
        },
        {
          id: 4,
          text: "Lisa"
        }
      ],
      nestableItems1: [],
      listMenu: [],
      menuData: {
        title: "",
        link: "",
        parent_id: "",
        status: true
      },
      dataMenuById:{
        created_at:'',
        group_id:'',
        id:'',
        item_id:'',
        link:'',
        parent_id:'',
        position:'',
        status:'',
        title:'',
        type:'',
        updated_at:''
      }
    };
  },
  components: {
    "nav-bar": Nav,
    "side-bar": SiderBar,
    VueNestable,
    VueNestableHandle
  },
  computed: {
    ...mapState(["menu", "allMenu","editMenu"])
  },
  watch: {
    menu(val) {
      this.nestableItems1 = val.data;
    },
    allMenu(val) {
      this.listMenu = val.data;
    },
    editMenu(val){
      this.dataMenuById = val.data;
    }
  },
  methods: {
    saveEditMenyById(){
      this.$store.dispatch("loadings", true);
      this.$store.dispatch('saveEditMenuById',{
        id:this.dataMenuById.id,
        title:this.dataMenuById.title,
        link:this.dataMenuById.link,
        status:this.dataMenuById.status
      }).then(response => {
        this.$store.dispatch("loadings", false);
        this.$store.dispatch("gitListMenu");
        this.$message("Thêm mới thành công", "success");
      }).catch(error => {
        this.$store.dispatch("loadings", false);
        let field_err = Object.keys(err.response.data.errors)[0];
        this.$message(Object.values(err.response.data.errors)[0][0], "error");
      })
    },
    ChangeDelete(item){
      let id = item.id;
      Swal.fire({
        title: 'Are you sure?',
        text: "Tất cả các danh mục con của danh mục này đều bị xóa",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          Swal.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
          this.$store.dispatch("loadings", true);
          this.$store.dispatch('deleteMenuById',id)
          .then(response => {
            this.$store.dispatch("loadings", false);
            this.$store.dispatch("gitListMenu");
            this.$message("Xóa thành công", "success");
          }).catch(error => {
            this.$store.dispatch("loadings", false);
            this.$message("Không thành công", "error");
          });
        }
      })
      
    },
    ChangeEdit(item){
      let id = item.id;
      this.$store.dispatch('getEditMenuById',id);
    },
    showPopup() {
      this.$modal.show("openPopupAddNewMenu");
    },
    hidePopup() {
      this.$modal.hide("openPopupAddNewMenu");
    },
    onDropItem(value, options) {
      console.log(value, options);
    },
    saveNewMenu() {
      this.$store.dispatch("loadings", true);
      this.$store
        .dispatch("saveAddNewMenu", {
          title: this.menuData.title,
          link: this.menuData.link,
          parent_id: this.menuData.parent_id,
          status: this.menuData.status
        })
        .then(response => {
          this.$store.dispatch("loadings", false);
          this.$store.dispatch("gitListMenu");
          this.$message("Thêm mới thành công", "success");
          this.hidePopup();
        })
        .catch(err => {
          this.$store.dispatch("loadings", false);
          let field_err = Object.keys(err.response.data.errors)[0];
          this.$message(Object.values(err.response.data.errors)[0][0], "error");
        });
    },
    convertTreeToArray(treeStructure) {
      let flatten = (children, extractChildren, level, parent) =>
        Array.prototype.concat.apply(
          children.map(x => ({
            ...x,
            level: level || 1,
            parent_id: parent || 0
          })),
          children.map(x =>
            flatten(
              extractChildren(x) || [],
              extractChildren,
              (level || 1) + 1,
              x.id
            )
          )
        );

      let extractChildren = x => (x.children != null ? x.children : []);

      let flat = flatten(extractChildren(treeStructure), extractChildren).map(
        x => delete x.children && x
      );
      return flat;
    },
    saveChangeMenu() {
      this.$store.dispatch("loadings", true);
      let arr = this.convertTreeToArray({ children: this.nestableItems1 });
      this.$store
        .dispatch("saveChangeMenu", {
          menu: arr
        })
        .then(response => {
          this.$store.dispatch("loadings", false);
          this.$message("Thay đổi thành công", "success");
        })
        .catch(error => {
          this.$store.dispatch("loadings", false);
          this.$message("Thay đổi thất bại", "error");
        });
    }
  },
  created() {
    this.$store.dispatch("gitListMenu");
    this.$store.dispatch("getAllMenu");
  }
};
</script>
<style type="text/css">
.nestable {
  position: relative;
}
.nestable .nestable-list {
  margin: 0;
  padding: 0 0 0 40px;
  list-style-type: none;
}
.nestable > .nestable-list {
  padding: 0;
}
.nestable-item,
.nestable-item-copy {
  margin: 10px 0 0;
}
.nestable-item:first-child,
.nestable-item-copy:first-child {
  margin-top: 0;
}
.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
  margin-top: 10px;
}
.nestable-item {
  position: relative;
}
.nestable-item.is-dragging .nestable-list {
  pointer-events: none;
}
.nestable-item.is-dragging * {
  opacity: 0;
  filter: alpha(opacity=0);
}
.nestable-item.is-dragging:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(106, 127, 233, 0.274);
  border: 1px dashed rgb(73, 100, 241);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nestable-drag-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
.nestable-drag-layer > .nestable-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  background-color: rgba(106, 127, 233, 0.274);
}
.nestable [draggable="true"] {
  cursor: move;
  border: 1px solid #019ccc;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 27px;
  border-radius: 11px;
  background: #06a3cf;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
</style>