<template>
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="../../assets/images/faces/face1.jpg" alt="profile" />
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">David Grey. H</span>
            <span class="text-secondary text-small">Project Manager</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>

      <li class="nav-item" v-for="(i, key) in objSidebar" :key="'side'+key">
        <div v-if="i.sub.length == 0 ">
          <router-link class="nav-link" :to="{ name: i.route_link}">
            <span class="menu-title">{{i.name}}</span>
            <i :class="i.icon"></i>
          </router-link>
        </div>
        <div v-else>
          <a
            class="nav-link"
            data-toggle="collapse"
            :href="'#ui-basic'+key"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <span class="menu-title">{{i.name}}</span>
            <i class="menu-arrow"></i>
            <i :class="i.icon"></i>
          </a>
        </div>
        <div class="collapse" :id="'ui-basic'+key" v-if="i.sub.length > 0 ">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" v-for="(item, key) in i.sub" :key="'sub'+key">
              <router-link class="nav-link" :to="{name:item.route_link}">{{item.name}}</router-link>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item sidebar-actions">
        <span class="nav-link">
          <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Projects</h6>
          </div>
          <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
          <div class="mt-4">
            <div class="border-bottom">
              <p class="text-secondary">Categories</p>
            </div>
            <ul class="gradient-bullet-list mt-4">
              <li>Free</li>
              <li>Pro</li>
            </ul>
          </div>
        </span>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      objSidebar: [
        {
          icon: "mdi mdi-home menu-icon",
          name: "Dashboard",
          route_link: "home",
          sub: []
        },
        {
          icon: "mdi mdi-crosshairs-gps menu-icon",
          name: "Sản phẩm",
          route_link: "",
          sub: [
            {
              name: "Danh sách sản phẩm",
              route_link: "listProduct"
            },
            {
              name: "Danh mục sản phẩm",
              route_link: "list_category"
            },
            {
              name: "Quản lý kho",
              route_link: ""
            }
          ]
        }
      ]
    };
  }
};
</script>
<style>
</style>