<template>
  <div>
    <el-upload
      :action="url+'upload-image-multi'"
      list-type="picture-card"
      multiple
      ref="upload"
      name="img"
      :on-preview="handlePictureCardPreview"
      :on-remove="handleRemove"
      :http-request="request"
      :file-list="fileList"
    >
      <i class="el-icon-plus"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible">
      <img width="100%" :src="dialogImageUrl" alt />
    </el-dialog>
  </div>
</template>

<script>
import config from "../../config";
import imageCompression from "browser-image-compression";

export default {
  props: {
    value: {
      type: Array
    }
  },
  data() {
    return {
      imageUrl: "",
      loading: false,
      dialogImageUrl: "",
      dialogVisible: false,
      fileList: [],
      url: ""
    };
  },
  methods: {
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    request(req) {
      console.log(this.$refs.upload);
      const options = {
        maxSizeMB: Number.POSITIVE_INFINITY,
        maxWidthOrHeight: this.maxWidthHeight,
        useWebWorker: true,
        maxIteration: 10
      };
      imageCompression(req.file, options).then(res => {
        this.loading = true;
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open("POST", config.publicURL + "api/upload-image");
        xhr.onload = () => {
          var json;
          if (xhr.status != 200) {
            this.$notify.error({
              message: "HTTP Error: " + xhr.status,
              type: "success"
            });
            this.loading = false;
            return;
          }
          json = JSON.parse(xhr.responseText);
          this.imageUrl = URL.createObjectURL(res);
          this.loading = false;
          this.fileList.push(json.path);
          return this.$emit("input", this.fileList);
        };
        formData = new FormData();
        formData.append("img", res, req.file.name);
        xhr.send(formData);
      });
    }
  },
  mounted() {
    this.url = config.publicURL + "api/";
  }
};
</script>
