<template>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Danh mục sản phẩm</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Sửa</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sửa danh mục sản phẩm</h4>
              <!-- <p class="card-description">Basic form elements</p> -->
              <form class="forms-sample">
                <div class="form-group">
                  <vs-input
                    class="w-100"
                    v-model="objData.name"
                    :class="{ 'is-invalid': submitted && $v.objData.name.$error }"
                    font-size="40px"
                    label-placeholder="Tên danh mục"
                  />
                  <div
                    v-if="submitted && !$v.objData.name.required"
                    class="noti-err"
                  >Tên không để trống</div>
                </div>
                <div class="form-group">
                  <vs-input
                    class="w-100"
                    v-model="objData.path"
                    font-size="40px"
                    label-placeholder="Link"
                    :class="{'is-invalid': submitted && $v.objData.path.$error}"
                  />
                  <div
                    v-if="submitted && !$v.objData.path.required"
                    class="noti-err"
                  >Link không để trống</div>
                </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Avatar</label>
                  <image-upload v-model="img" type="avatar"></image-upload>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Trạng thái</label>
                  <vs-switch v-model="objData.status">
                    <span slot="on">Hiện</span>
                    <span slot="off">Ẩn</span>
                  </vs-switch>
                </div>
                <vs-button
                    color="success"
                    type="gradient"
                    class="mr-left-45"
                    @click="saveEdit()"
                    >Lưu lại</vs-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      objData: {
        name: "",
        path: "",
        avatar: "",
        status: "",
        id:this.$route.params.id_cate
      },
      img: "",
      submitted: false
    };
  },
  validations: {
    objData: {
      name: { required },
      path: { required }
    }
  },
  methods: {
    nameImage(event) {
      this.objData.avatar = event;
    },
    saveEdit() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
          this.$store.dispatch("loadings", true);
        this.$store
          .dispatch("category/saveCate", this.objData)
          .then(response => {
              this.$store.dispatch("loadings", false);
            this.$vs.notify({
              title: "Thêm mới danh mục",
              text: "Thành công",
              color: "success",
              position: "top-right"
            });
            this.$emit("closePopup", false);
          })
          .catch(error => {
              this.$store.dispatch("loadings", false);
            this.$vs.notify({
              title: "Thêm mới danh mục",
              text: "Thất bại",
              color: "error",
              position: "top-right"
            });
          });
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadings", true);
    this.$store
      .dispatch("category/edit", this.$route.params.id_cate)
      .then(response => {
        this.$store.dispatch("loadings", false);
        this.img = response.data.avatar;
        this.objData = response.data;
      });
  }
};
</script>

<style>
</style>