<template>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Danh mục sản phẩm</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Sản phẩm</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" @click="listCate">Danh sách danh mục</h4>
              <p class="card-description">Thêm mới hoặc sửa chửa danh mục sản phẩm</p>
              <vs-button type="gradient" style="float:right;" @click="popupActivo=true">Thêm mới</vs-button>
              <vs-input
                icon="search"
                placeholder="Search"
                v-model="keyword"
                @keyup="searchCategory()"
              />
              <vs-table max-items="3" pagination :data="list">
                <template slot="thead">
                  <vs-th>ID</vs-th>
                  <vs-th>Tên</vs-th>
                  <vs-th>Avatar</vs-th>
                  <vs-th>Link</vs-th>
                  <vs-th>Hành động</vs-th>
                </template>
                <template slot-scope="{data}">
                  <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                    <vs-td :data="tr.id">{{tr.id}}</vs-td>
                    <vs-td :data="tr.name">{{tr.name}}</vs-td>
                    <vs-td :data="tr.id">
                      <vs-avatar size="70px" :src="tr.avatar" />
                    </vs-td>
                    <vs-td :data="tr.id">{{tr.path}}</vs-td>
                    <vs-td :data="tr.id">
                      <router-link :to="{name:'edit_category',params:{id_cate:tr.id}}">
                        <vs-button
                          vs-type="gradient"
                          size="lagre"
                          color="success"
                          icon="edit"
                        ></vs-button>
                      </router-link>
                      <vs-button vs-type="gradient" size="lagre" color="red" icon="delete_forever"></vs-button>
                    </vs-td>
                  </vs-tr>
                </template>
              </vs-table>
            </div>
          </div>
        </div>
      </div>
      <vs-popup style="width:100%;" title="Thêm mới danh mục" :active.sync="popupActivo">
        <ModalAdd @closePopup="closePop($event)" />
      </vs-popup>
    </div>
  </div>
</template>


<script>
import ModalAdd from "../../layouts/modal/category/add";

import { mapState } from "vuex";
export default {
  data: () => ({
    keyword: null,
    popupActivo: false,
    list: []
  }),
  components: {
    ...mapState(["cate"]),
    ModalAdd
  },
  computed: {
    ...mapState("category", {
      cate: state => state.cate.data
    })
  },
  methods: {
    closePop(event) {
      this.popupActivo = event;
    },
    listCate() {
      this.$store
        .dispatch("category/listCate", { keyword: this.keyword })
        .then(response => {
          this.list = response.data;
        });
    },
    searchCategory() {
      this.listCate();
    }
  },
  mounted() {
    this.listCate();
  }
};
</script>
<style>
</style>